extends ../layouts/main

block title
	title Manhattech - Employers

block header
	.top-bar
		include ../includes/tabs
		h1 Manhattech
		a.go-home(href="/")
			img.logo(src="images/a2-whiteboard.png", alt="Manhattech")

block content

	.employer-wrapper
	
		.company(style="background: hsl(197, 100%, 47%);")
			a(href="http://www.accioenergy.com/", target="_blank") Accio Energy

		.company(style="background: hsl(197, 100%, 47%);")
			a(href="http://www.alfajango.com/", target="_blank") Alfa Jango

		.company(style="background: #77BE58;")
			a(href="http://appkey.com/", target="_blank") AppKey

		.company(style="background: #36C1E6;")
			a(href="http://arbormetrix.com/", target="_blank") ArborMetrix

		.company(style="background: #62A335;")
			a(href="http://www.arbornetworks.com/", target="_blank") Arbor Networks

		.company(style="background: #FD4F57;")
			a(href="http://www.atomicobject.com", target="_blank") Atomic Object

		.company.add-your-own(style="background: #eee; color: #444;")
			a(href="https://github.com/FlintHillsIO/manhattech", target="_blank") + Add your company
