extends ../layouts/main

block title
	title Manhattech - Events

block header
	.top-bar
		include ../includes/tabs
		h1 Manhattech
		a.go-home(href="/")
			img.logo(src="images/manhattech.png", alt="Manhattech")

block content

	.group-wrapper
		.group
			h2 Coming soon...
