extends ../layouts/main

block title
	title Manhattech - Manhattan, KS Tech Groups

block header
	.top-bar
		include ../includes/tabs
		h1 Manhattech
		a.go-home(href="/")
			img.logo(src="images/manhattech.png", alt="Manhattech")

block content

	.group-wrapper
		.group
			img.pic(src="images/groups/FlintHillsIO.jpg")
			h2 Flint Hills IO
			p Flint Hills IO is a community for developers and open source enthusiasts in Manhattan, KS and the surrounding areas. Meetups are usually held at least once a month covering a variety of programming languages, frameworks, and tools. Email bryce@flinthills.io to join their Slack group.
			.links
				a(href="http://flinthills.io/", target="_blank") Website
				a(href="https://twitter.com/flinthillsio", target="_blank") Twitter
				a(href="https://flinthillsio.slack.com/signup", target="_blank") Slack
				a(href="https://github.com/FlintHillsIO", target="_blank") GitHub

	.group-wrapper
		.group
			h2 Geek Lunch
			p Geek Lunch is a group of technical professionals who meet together on Tuesdays to talk shop, etc. They meet in the Engineering Hall Atrium, usually at one of the tables on the first floor, across from Radina's. Their start time is technically noon, but they're busy engineers, so actual start time tends to be closer to 12:30. Topics are informal and revolve around work, hobbies, Maker-stuff, and whatever else comes up.
			.links
				a(href="http://geeklunch.org/", target="_blank") Website
				a(href="https://groups.google.com/forum/#!forum/geeklunch-org", target="_blank") Google Group
				
	.group-wrapper
		.group
			h2 Information Technology Professionals of Kansas (ITPK)
			p The goal of the Information Technology Professionals of Kansas (ITPK) organization is to encourage cooperation and collaboration among IT professionals by providing opportunities for networking, topic specific discussions and training, also providing group activities. The organization is dedicated to furthering understanding and knowledge related to the IT field.
			.links
				a(href="http://www.itpk.org/", target="_blank") Website
				a(href="https://www.facebook.com/groups/itpks/", target="_blank") Facebook
				a(href="https://twitter.com/IT_Pro_of_KS", target="_blank") Twitter

	.group-wrapper
		.group
			h2 K-State Linux User Group (K-Slug)
			p The purpose of K-Slug is to advocate the use of, educate potential users of, and support current users of the Linux operating system. Membership is open to any KSU student, faculty, or staff, or any person in the surrounding community who wishes to take part in the Linux movement. Check out their website for details on subscribing to their listserv and joining their IRC channel.
			.links
				a(href="http://k-slug.org/", target="_blank") Website
				a(href="https://plus.google.com/communities/110533824353095595924", target="_blank") Google+
				a(href="https://github.com/k-slug", target="_blank") GitHub

	.group-wrapper
		.group
			img.pic(src="images/groups/maars.jpg")
			h2 Manhattan, Kansas Amateur Radio Society (MAARS)
			p The purpose of MAARS is to advance amateur radio in the Manhattan area. Since the beginning, the club has been active in different aspects of amateur radio, packet radio, satellites, community activities, ARRL Field Day, and amateur radio classes. Also, many club members have been very involved through the years with emergency communications and storm spotting.
			.links
				a(href="http://www.ks0man.org", target="_blank") Website
				a(href="https://www.facebook.com/MAARS-Manhattan-Area-Amateur-Radio-Society-231412563615082/", target="_blank") Facebook
				
	.group-wrapper
		.group
			h2 Wildcat Web Workers
			p This is a group that meets for lunch on Wednesdays and has a Slack group. Anyone with a K-State email address may signup. Others may contact Ben Claar. His email address is his first name @piestar.com.
			.links
				a(href="https://wildcatwebworkers.slack.com/signup", target="_blank") Slack


		br
		br
		p
			| Are we missing something? Add your group&nbsp;
			a(href="https://github.com/FlintHillsIO/manhattech", target="_blank") here
			| !
