extends ../layouts/main

block title
	title Manhattech - Groups

block header
	.top-bar
		include ../includes/tabs
		h1 Manhattech
		a.go-home(href="/")
			img.logo(src="images/manhattech.png", alt="Manhattech")

block content

	.group-wrapper
		.group
			img.pic(src="images/groups/FlintHillsIO.jpg")
			h2 Flint Hills IO
			p Flint Hills IO is a community for developers and open source enthusiasts in Manhattan, KS and the surrounding areas. Meetups are usually held at least once a month covering a variety of programming languages, frameworks, and tools.
			.links
				a(href="http://flinthills.io/", target="_blank") Website
				a(href="https://twitter.com/flinthillsio", target="_blank") Twitter
				a(href="https://github.com/FlintHillsIO", target="_blank") GitHub

	.group-wrapper
		.group
			h2 K-State Linux User Group (K-Slug)
			p The purpose of K-Slug is to advocate the use of, educate potential users of, and support current users of the Linux operating system. Membership is open to any KSU student, faculty, or staff, or any person in the surrounding community who wishes to take part in the Linux movement. Check out their website for details on subscribing to their listserv and joining their IRC channel.
			.links
				a(href="http://k-slug.org/", target="_blank") Website
				a(href="https://plus.google.com/communities/110533824353095595924", target="_blank") Google+
				a(href="https://github.com/k-slug", target="_blank") GitHub

	.group-wrapper
		.group
			img.pic(src="images/groups/maars.jpg")
			h2 Manhattan, Kansas Amateur Radio Society (MAARS)
			p The purpose of MAARS is to advance amateur radio in the Manhattan area. Since the beginning, the club has been active in different aspects of amateur radio, packet radio, satellites, community activities, ARRL Field Day, and amateur radio classes. Also, many club members have been very involved through the years with emergency communications and storm spotting.
			.links
				a(href="http://www.ks0man.org", target="_blank") Website
				a(href="https://www.facebook.com/MAARS-Manhattan-Area-Amateur-Radio-Society-231412563615082/", target="_blank") Facebook


		br
		br
		p
			| Are we missing something? Add your group&nbsp;
			a(href="https://github.com/FlintHillsIO/manhattech", target="_blank") here
			| !
